@model ML.Empleado
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Empleado</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-1  offset-11">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="clearTextBox()">
                Agregar
            </button><br /><br />
        </div>
    </div>

    <div class="row" id="data">
        <div class="col-3">
        </div>
    </div>

    <table class="table table-hover" id="tabla">
        <thead>
            <tr>
                <th>Editar</th>
                <th>IdEmpleado</th>
                <th>Numero Nomina</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Estado</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>


<div id="modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Empleado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txtIdEmpleado">IdEmpleado</label>
                            <input type="text" class="form-control" id="txtIdEmpleado" placeholder="Id" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="txtNumeroNomina">Numero Nomina</label>
                            <input type="text" class="form-control" id="txtNumeroNomina" placeholder="Numero Nomina" />
                        </div>
                        <div class="form-group">
                            <label for="txtNombre">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" placeholder="Nombre" />
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoPaterno">Apellido Paterno</label>
                            <input type="text" class="form-control" id="txtApellidoPaterno" placeholder="Apellido Paterno" />
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoMaterno">Apellido Materno</label>
                            <input type="text" class="form-control" id="txtApellidoMaterno" placeholder="Apellido Materno" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="ddlEstado">Estado</label>
                            <select class="form-control" id="ddlEstado"><option value="">Selecciona un estado.</option></select>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardar" onclick="return Guardar();">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/Empleado/EmpleadoCRUD.js"></script>